
@{
    ViewBag.Title = "Index-Home";
}
<br /><br /><br /><br />
<div class="row">
    <div class="col">
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <div class="card ">
                    <div class="card-body">
                        <h2 class="card-title"><i class="fa fa-building-o"></i>Company Application</h2>
                        <p class="card-text">Feed the mind.</p>
                        <a href="/branches/index" class="btn btn-outline-success"><i class="fa fa-book"></i>Go to Branches</a>
                        <a href="/Employees/index" class="btn btn-outline-success"><i class="fa fa-book"></i>Go to Employees</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles {
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
}


