@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Application</title>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <style>
        body {
            margin: 0;
            padding: 0;
            border: 0;
        }

        section {
            background-image: url("../Content/images/bg-set.jpg"); /* The image used */
            background-color: #cccccc; /* Used if the image is unavailable */
            height: 580px; /* You must set a specified height */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
            background-attachment: fixed;
            background-position: center;
        }

        .card {
            margin-top: 70px;
            box-shadow: 3px 2px 14px 13px rgba(0,0,0,0.27);
            -webkit-box-shadow: 3px 2px 14px 13px rgba(0,0,0,0.27);
            -moz-box-shadow: 3px 2px 14px 13px rgba(0,0,0,0.27);
            font-size: 12px;
        }

        .card-body {
            background-color: #fff;
            color: black;
        }

        .card-1 {
            margin-top: 200px;
        }

        p {
            margin-top: 20px;
        }

        i {
            margin-right: 10px;
        }
    </style>

</head>
<body>
    @Html.Partial("_NavbarPartial")
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <div class="card card-1 ">
                            <div class="card-body">
                                <h2 class="card-title"><i class="fa fa-building-o"></i>Company Application</h2>
                                <p class="card-text text-center">Click the Button below to See details.</p>
                                <a href="/branches/index" class="btn btn-outline-success"><i class="fa fa-building"></i>Go to Branches</a>
                                <a href="/Employees/index" class="btn btn-outline-success"><i class="fa fa-users"></i>Go to Employees</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title"><i class="fa fa-file-code-o"></i>MVC Monthly Exam</h2>
                                <p class="card-text text-center">Feel your written code.</p>
                                <p class="card-text text-center list-group-item-secondary"><i class="fa fa-bookmark"></i>Requirement Filled in Project</p>
                                <ul class="list-group list-group-numbered">
                                    <li class="list-group-item">One to Many RelationShip Database.</li>
                                    <li class="list-group-item ">Database Code First in Model.</li>
                                    <li class="list-group-item">Data Anotation Server Side.</li>
                                    <li class="list-group-item ">Data Anotation Client Side.</li>
                                    <li class="list-group-item">Partial View in Navigation</li>
                                    <li class="list-group-item ">Partial View With  Ajax !!</li>
                                    <li class="list-group-item">Different type of Data Variation.</li>
                                    <li class="list-group-item ">Date Picker in JoinDate Field</li>
                                    <li class="list-group-item">Enum data type in two Field</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <p class="text-center">&copy; @DateTime.Now.Year - Company Application. &nbsp;&nbsp; Created By: Anamul Haque Sohel. &nbsp;&nbsp; ID: 1264855</p>
    </div>
</body>
</html>
